<div *ngFor="let item of categories;index as i">
    <article class="category" *ngIf="i%2 === 0">
        <div class="category__image__container">
            <img src="{{item.imageUrl}}" alt="{{item.key}}">
        </div>
        <div class="category__description">
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <app-button classList="btn btn-main" [routerLink]="['/products',item.id]">Explore {{item.key}}
            </app-button>
        </div>
    </article>

    <article class="category" *ngIf="i%2 !== 0">
        <div class="category__description">
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <app-button classList="btn btn-main" [routerLink]="['/products',item.id]">Explore {{item.key}}
            </app-button>
        </div>
        <div class="category__image__container">
            <img src="{{item.imageUrl}}" alt="{{item.key}}">
        </div>
    </article>
</div>