@import "../../../constants.scss";

.category {
  display: flex;
  box-shadow: 0 8px 8px $box-shadow-color;
  padding: 0.5rem 0;
  .category__image__container {
    width: 30%;
    text-align: center;
    align-self: center;
    img {
      height: 80px;
      width: 80px;
      @media only screen and (min-width: $medium-Screen-Size) {
        height: 120px;
        width: 150px;
      }
      @media only screen and (min-width: $medium-Screen-Size) {
        height: 150px;
        width: 220px;
      }
    }
  }
  .category__description {
    width: 70%;
    text-align: center;
    h2 {
      font-size: 1.3rem;
      @media only screen and (min-width: $medium-Screen-Size) {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 0.6rem;
      padding: 5px;
      @media only screen and (min-width: $medium-Screen-Size) {
        font-size: 1rem;
      }
    }
  }
}
