@import "../../../constants.scss";

.category {
  display: flex;
  box-shadow: 0 8px 8px $box-shadow-color;
  padding: 0.5rem 0;
  &__image__container {
    flex: 3;
    text-align: center;
    margin: auto;
    img {
      max-width: 100%;
    }
  }
  &__description {
    flex: 7;
    text-align: center;
    margin: auto;
    figcaption {
      font-size: 1.3rem;
      margin: 0 5px;
      @media only screen and (min-width: $medium-Screen-Size) {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 0.6rem;
      padding: 5px;
      @media only screen and (min-width: $medium-Screen-Size) {
        font-size: 1rem;
      }
    }
    .btn {
      text-decoration: none;
      background-color: $button-main;
      padding: 5px 0;
      border: 0;
      border-radius: 2px;
      color: $button-main-color;
      cursor: pointer;
      font-size: 70%;
      @media only screen and (min-width: $medium-Screen-Size) {
        font-size: 1rem;
      }
      &:hover {
        background-color: $button-main-hover;
      }
      &.btn-main {
        width: 65%;
        margin-bottom: 1rem;
        @media only screen and (min-width: $medium-Screen-Size) {
          width: 50%;
          font-size: 1rem;
        }
        @media only screen and (min-width: $large-Screen-Size) {
          width: 40%;
        }
      }
    }
  }
}
