<!-- Header Starts -->
<header>
    <nav>
        <div class="nav__signinRegister" *ngIf="isMediumLargeScreen">
            <ul *ngIf="isMediumLargeScreen">
                <li (click)="closeCart()"> <a routerLink="/signin" routerLinkActive="active">SignIn</a>
                </li>
                <li (click)="closeCart()"> <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </div>
        <div class="flex-container nav__container">
            <a routerLink="/home" routerLinkActive="active">
                <img class="float-left nav__container__logo" *ngIf="isSmallScreen"
                    src="../../assets/static/images/logo.png" alt="Sabka Bazar Logo" (click)="closeCart()">
                <img class="float-left nav__container__logo" *ngIf="!isSmallScreen"
                    src="../../assets/static/images/logo_2x.png" alt="Sabka Bazar Logo" (click)="closeCart()">
            </a>
            <ul *ngIf="isMediumLargeScreen">
                <li (click)="closeCart()"> <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li (click)="closeCart()"> <a [routerLink]="['/products','']" routerLinkActive="active">Products</a>
                </li>
            </ul>
            <div class="nav__container__cart">
                <a href="javascript:void(0)" (click)="toggleMobileMenu()" *ngIf="isSmallScreen"><i
                        class="fa fa-bars nav__container__cart__hamburger"></i></a>
                <app-button classList="btn-grey float-right" (click)="toggleCart()">
                    <img src="../../assets/static/images/cart.svg" alt="cart image" class="nav__container__cartImg"
                        aria-hidden="true">
                    <span>{{cartItemCount}} items</span>
                </app-button>
            </div>
        </div>
    </nav>
    <div class="mobile__menu" *ngIf="showMobileMenu">
        <ul (click)="toggleMobileMenu()">
            <li (click)="closeCart()"><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li (click)="closeCart()"><a [routerLink]="['/products','']" routerLinkActive="active">Products</a></li>
            <li (click)="closeCart()"><a routerLink="/signin" routerLinkActive="active">SignIn</a></li>
            <li (click)="closeCart()"><a routerLink="/register" class="mr-1" routerLinkActive="active">Register</a>
            </li>
        </ul>
    </div>
</header>
<!-- Header Ends -->
<section *ngIf="showCart">
    <app-cart (closeCart)="toggleCart()"></app-cart>
</section>