header {
    box-shadow: 0 5px 5px rgb(231, 231, 231);
}

.nav-top {
    text-align: right;
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-top span {
    margin-left: 10px;
}

.nav-top span a {
    text-decoration: none;
    color: #555;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin-left: 5%;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    text-decoration: none;
    color: #555;
}

.cart-btn {
    display: flex;
    flex-direction: row-reverse;
}

.btn-grey {
    background-color: rgb(238, 238, 238);
    padding: 35px 40px;
    display: flex;
}

.cart-img {
    height: 20px;
    width: auto;
}