footer {
    background-color: rgb(238, 238, 238);
    padding: 10px 0;
}

p {
    font-size: .55rem;
    margin-bottom: 0;
}

/* iPad and medium screens*/

@media only screen and (min-width: 768px) {
    p {
        font-size: .8rem;
    }
}

/* iPad and large screens*/

@media only screen and (min-width: 992px) {
    p {
        font-size: 1rem;
    }
}