@import '../../constants.scss';

footer {
    background-color: $main-background;
    padding: 10px 0;
}

p {
    font-size: .55rem;
    margin-bottom: 0;
}

/* iPad and medium screens*/

@media only screen and (min-width: $medium-Screen-Size) {
    p {
        font-size: .8rem;
    }
}

/* iPad and large screens*/

@media only screen and (min-width: $large-Screen-Size) {
    p {
        font-size: 1rem;
    }
}