@import '../../../constants.scss';

h3 {
    font-size: 1.2rem;
}
hr {
    margin-top: 0px;
}
.product-img {
    height: 150px;
    width: 175px;
}

.product-description {
    background-color: $main-background;
    padding: 5px;
    font-size: 0.7rem;
    margin-bottom: 5px;
    /* height: 140px; */
}

/* iPad and medium screens*/

@media only screen and (min-width: $medium-Screen-Size) {
    h3 {
        height: 65px;
        font-size: 1.1rem;
    }
   
    .product-img {
        height: 160px;
        width: 135px;
    }
    .product-description {
        font-size: 0.6;
        margin-bottom: 5px;
        height: 200px;
    }
}

/* iPad and large screens*/

@media only screen and (min-width: $large-Screen-Size) {
    h3 {
        height: 60px;
        font-size: 1rem;
    }
    .product-img {
        height: 195px;
        width: 195px;
    }
    .product-description {
        height: 175px;
    }
    p {
        font-size: 0.9rem;
    }
}