<!-- Login Section Starts -->
<section class="section-login">
    <div class="flex-container section-form row">
        <div class="form-left-text">
            <h1>Login</h1>
            <p>Get access to your Orders, Wishlist and Recommendations</p>
        </div>
        <div class="form-container">
            <div class="main-form">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" name="email" id="email" />
                <label for="email">Password</label>
                <input type="password" placeholder="password" name="password" id="password" />
                <button class="btn-main">Login</button>
            </div>
        </div>
    </div>
</section>
<!-- Login Section Ends -->