* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Dosis", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

h2 {
    padding: 10px 0;
}

.flex-container {
    display: flex;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

section {
    padding: 30px 0;
}

header {
    box-shadow: 0 5px 5px rgb(231, 231, 231);
}

.nav-top {
    text-align: right;
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-top span {
    margin-left: 10px;
}

.nav-top span a {
    text-decoration: none;
    color: #555;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin-left: 5%;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    text-decoration: none;
    color: #555;
}

.cart-btn {
    display: flex;
    flex-direction: row-reverse;
}

.btn-grey {
    background-color: rgb(238, 238, 238);
    padding: 35px 40px;
    display: flex;
}

.cart-img {
    height: 20px;
    width: auto;
}

footer {
    background-color: rgb(238, 238, 238);
    padding: 10px 0;
    font-size: 80%;
}

.section-form {
    justify-content: center;
}

input {
    outline: 0px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 5px;
    margin: 20px 0;
}

input:focus {
    outline: 0px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 5px;
    border-bottom: 2px solid rgb(47, 185, 198);
}

.form-container {
    width: 50%;
}

.main-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: left;
}

.form-left-text {
    width: 40%;
}

label {
    font-size: 80%;
}

.btn-main {
    width: 100%;
    background-color: rgb(209, 1, 87);
    padding: 10px 0;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.btn-main:hover {
    background-color: rgb(167, 1, 71);
    color: rgb(47, 185, 198)
}

.box-shadow {
    box-shadow: 0 8px 8px rgb(219, 219, 219);
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.width-70 p {
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 80%
}

.width-70 .btn-main {
    width: 25%;
}

.width-70 a, .width-30 a {
    text-align: center;
    font-size: 90%;
    text-decoration: none;
}

.category-img {
    height: 200px;
    width: 300px;
    margin: 0 10px;
}

.category-container {
    padding: 40px 0;
}

.side-nav {
    padding: 0;
    height: 100vh;
    width: 20%;
    background-color: rgb(238, 238, 238);
}

.side-nav li {
    font-size: 80%;
    list-style: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}

.product-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 25%;
    border-bottom: 1px dashed rgb(231, 231, 231);
    padding: 5px 5px;
}

.product-card img {
    height: 200px;
    width: 200px;
}

.product-card h3 {
    padding-bottom: 5px;
    height: 111px;
}

.product-description {
    background-color: rgb(238, 238, 238);
    font-size: 80%;
    margin-bottom: 10px;
}

.product-description p {
    padding: 5px;
    font-size: 90%;
    height: 140px;
}

.product-price {
    font-size: 90%;
    width: 50%;
    padding-top: 8px;
    padding-left: 5px;
}

.product-buy-now {
    width: 50%;
    align-content: flex-end;
}