@import "../../../constants.scss";

header {
  box-shadow: 0 5px 5px $box-shadow-color;
  nav {
    max-width: 1140px;
    margin: auto;
    .nav__signinRegister {
      font-size: 0.9rem;
      text-align: right;
      ul {
        margin-bottom: 0;
        li {
          display: inline;
          padding: 0 10px;
        }
      }
    }
    .nav__container {
      display: flex;
      justify-content: space-between;
      a {
        .nav__container__logo {
          height: 50px;
          @media only screen and (min-width: $medium-Screen-Size) {
            height: 75px;
            padding-bottom: 0.5rem;
          }
        }
        @media only screen and (min-width: $medium-Screen-Size) {
          width: 20%;
        }
      }

      ul {
        width: 30%;
        display: none;
        margin-top: 15px;
        margin-bottom: 0px;
        @media only screen and (min-width: $medium-Screen-Size) {
          display: block;
        }
        li {
          display: inline;
          padding: 0 20px;
        }
      }

      .nav__container__cart {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
        text-align: right;
        .nav__container__cart__hamburger {
          font-size: 1.4rem;
          font-weight: 300;
          color: $hamburger-icon-color;
          border: 1px solid $hamburger-icon-borber;
          padding: 3px 10px;
          border-radius: 3px;
        }
        .nav__container__cartImg {
          height: 20px;
          width: auto;
        }
      }
    }
  }

  .mobile__menu {
    list-style: none;
    position: relative;
    z-index: 9999;
    background-color: white;
    li {
      padding: 2px;
      border-bottom: 1px solid $hamburger-icon-borber;
      font-size: 0.9rem;
      margin-left: 10px;
    }
  }
}
