<section>
    <div class="slideshow__container">
        <div class="mySlides slideshow__container__fade" *ngFor="let banner of banners;index as i">
            <img src="{{banner.bannerImageUrl}}" alt="{{banner.bannerImageAlt}}" style="width:100%">
        </div>
        <a class="slideshow__container__prev" (click)="plusSlides(-1)">prev</a>
        <a class="slideshow__container__next" (click)="plusSlides(1)">next</a>
    </div>
    <div class="slideshow__dot__container">
        <span class="slideshow__dot" (click)="currentSlide(i+1)" *ngFor="let banner of banners;index as i"></span>
    </div>
    <app-categories [categories]="categories"></app-categories>
</section>