<div class="modal">
    <div class="shopping-cart">
        <div class="title">
            <div class="fl-left">
                <p>My Cart</p>
                <span>(2 items)</span>
            </div>
            <div class="fl-right close-cart" (click)="closeCartClicked()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content-container">
            <img src="../../assets/static/images/products/fruit-n-veg/apple.jpg" alt="" />
            <div class="content">
                <h4>Fresho Kiwi - Green, 3 pcs</h4>
                <div class="description">
                    <div class="fl-left">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>2</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>X </span>
                        <span>Rs. 87</span>
                    </div>
                    <div class="fl-right">
                        <span>Rs.174</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <img src="../../assets/static/images/products/fruit-n-veg/apple.jpg" alt="" />
            <div class="content">
                <h4>Apple - Washington, Regular, 4 pcs</h4>
                <div class="description">
                    <div class="fl-left">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>1</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>X</span>
                        <span>Rs. 187</span>
                    </div>
                    <div class="fl-right">
                        <span>Rs.187</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>