<div class="modal-custom">
    <div class="shopping-cart">

        <div class="title">
            <div class="float-left">
                <p>My Cart</p>
                <span *ngIf="cartItem.length > 0">({{cartItemQuantity}} item)</span>
            </div>
            <div class="float-right close-cart" id="close-cart" tabindex="1" (click)="closeCartClicked()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>

        <div class="items-container" *ngIf="cartItem.length > 0">
            <div class="content-container" *ngFor="let item of cartItem;index as i ">
                <img src="{{item.imageURL}}" alt="{{item.name}}" />
                <div class="content">
                    <h4>{{item.name}}</h4>
                    <div class="description">
                        <div class="float-left">
                            <i class="fa fa-minus" tabindex="{{i+2}}" id="removeItem{{i}}" aria-hidden="true"
                                (click)="substractQuantity(i)"></i>
                            <span>{{item.quantity}}</span>
                            <i class="fa fa-plus" tabindex="{{i+2}}" id="addItem{{i}}" aria-hidden="true"
                                (click)="addQuantity(item)"></i>
                            <span>X </span>
                            <span>Rs. {{item.price}}</span>
                        </div>
                        <div class="float-right">
                            <span>Rs.{{item.quantity * item.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-message text-center">
                <img src="../../assets/static/images/lowest-price.png" alt="lowest price" />
                <p> You won't find it cheap anywhere</p>
            </div>
        </div>

        <div class="no-items-container" *ngIf="cartItem.length === 0">
            <h4>No items in your cart</h4>
            <p>Your favourite items are just a click away</p>
        </div>

        <div class="checkout-container" *ngIf="cartItem.length > 0">
            <p>Promo code can be applied on the payment page</p>
            <app-button classList="btn-main mb-md-4" tabindex="0" id="proceed-to-checkout" (click)="closeCartClicked()">
                <span class="float-left">Proceed to Checkout</span>
                <span class="float-right">Rs.{{totalPrice}}</span>
            </app-button>
        </div>
        <div class="checkout-container text-center" *ngIf="cartItem.length === 0">
            <app-button classList="btn-main mb-md-4" tabindex="0" id="shopping-cart-btn" (click)="closeCartClicked()">
                <span class="d-inline-block">Start Shopping</span>
            </app-button>
        </div>
    </div>
</div>