@import "../../../constants.scss";

.btn-grey {
  background-color: $main-background;
  padding: 13px 15px;
  display: flex;
  border: 0;
  @media only screen and (min-width: $medium-Screen-Size) {
    padding: 22px 20px;
    width: 125px;
  }
}

.btn-transparent {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.btn-main {
  width: 65%;
  background-color: $button-main;
  padding: 5px 0;
  border: 0;
  border-radius: 2px;
  color: $button-main-color;
  cursor: pointer;
  font-size: 70%;
  &:hover {
    background-color: $button-main-hover;
  }
  @media only screen and (min-width: $medium-Screen-Size) {
    width: 50%;
    font-size: 1rem;
  }
  @media only screen and (min-width: $medium-Screen-Size) {
    width: 40%;
  }
}

.btn-buy-now {
  width: 100%;
  margin-bottom: 10px;
}
