.box-shadow {
    box-shadow: 0 8px 8px rgb(219, 219, 219);
}

.category-img {
    height: 95px;
    width: 95px;
}

h2 {
    font-size: 130%;
}

p {
    font-size: 70%;
}

/* .category-container {
    padding: 40px 0;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.width-70 p {
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 80%
}

.width-70 .btn-main {
    width: 25%;
} */